<br>
<br>
<div class="row">
  <div class="col-sm-6">
    <br>
    <br>
    <div class="table-container" *ngIf="!name">
      <h1>Click on <mat-icon>edit</mat-icon> to Edit</h1>
    </div>
    <div class="table-container" *ngIf="name">
      <div class="mat-elevation-z8">
        <div class="container ">
          <h1>TEACHERS ID : {{id}}</h1>
          <mat-divider></mat-divider>
          <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="name">
          </mat-form-field>
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="DOB" [(ngModel)]="dob">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Gender" name="gender" [(ngModel)]="gender">
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="ContactNo" [(ngModel)]="contactNo">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Address" [(ngModel)]="address"></textarea>
          </mat-form-field>
          <br>
          <div>
            <button mat-button (click)="dontSave();openSnackBar('Record Not Updated',3000)">Dont Save</button>
            <button mat-button (click)="save();openSnackBar('Deleting Student Record .... ',6000)">Delete</button>
            <button mat-button (click)="save();openSnackBar('Updating Student Record .... ',6000)">Save</button>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
      <h2>Teachers List</h2>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Student">
    </mat-form-field>
    <div class="table-container">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="contact">
              <th mat-header-cell *matHeaderCellDef> Contact </th>
              <td mat-cell *matCellDef="let element"> {{element.contactNo}} </td>
            </ng-container>
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element"><button mat-stroked-button (click)="selected(element)"><mat-icon>edit</mat-icon></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="container">
      <h1>Dongares Part of Excel this will be replaced by the code </h1>
    </div>    
  </div>
</div>